@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root
{
    --green:#27ae60;
    --black:#1c1c35;
    --blue:#2626d2;
    

}
 *{
       font-family: 'Nunito', sans-serif;
       margin:0px;
       padding:0px;
       box-sizing: border-box;
       outline:none; border: none;
       text-decoration: none;
       text-transform: capitalize;
       transition: all .2s linear;
 }
 *::selection{
    background-color:var(--green);
    color: #fff;
 }
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

section
{
    padding: 2rem 9%;
} 
.btn
{
    display: inline-block;
    margin-top: 1rem;
    background: var(--green);
    color: #fff;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    background: var(--black);
}
.heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 3.5rem;
    padding-bottom: 2rem;
}
.heading span{
    color: var(--green);
    text-transform:uppercase ;
}
.category .box-container{
    display: flex;
    gap:1.5rem;
    flex-wrap:wrap;
}

.category .box-container .box{
    border:.2rem solid rgba(0,0,0,0.3);
    border-radius: .1rem;
    text-align: center;
    padding: .2rem;
    flex: 1 1 20rem;
}

.category .box-container .box img{
    width: 15rem;
    margin: 2rem 0;
}

.category .box-container .box h3{
    font-size: 3.5rem;
    color:var(--black);
}

.category .box-container .box p{
    font-size: 2rem;
    color:var(--black);
    color:#666;
    padding: .5rem 0;
}

.category .box-container .box .btn{
    display: block;
}